*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:wheat;
  font-family: Arial;
  margin: 0;
  display:flex;
  justify-content: center;
  padding-top: 40px;
  padding-left:20px;
  padding-right: 20px;
}

.app {
  background:wheat;
  padding: 30px;
  max-width:420px;
  width:100%;
  border-radius: 12px;
  box-shadow: 10px 0px 10px 10px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

.btn {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background: #ddd;
}

.correct {
  background: #4caf50 !important;
  color: white;
}

.wrong {
  background: #e53935 !important;
  color: white;
}

.result {
  background-color: wheat;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  max-width:420px;
}
.result h2{
  margin-bottom:10px;
}
.result button{
  width: 150px;
  height: 40px;
  background-color: #1ee425;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size:20px;
  font-weight: 500;
  display: block;
  margin: 20px auto;
}

button {
  cursor: pointer;
}

.quiz h2{
  color: blue;
}
@media (max-width:480px){
  .app, .result{
    padding: 20px;
  }
  h1{
    font-size: 1.3rem;
  }
  .btn{
    font-size: 0.9rem;
    padding: 10px;
  }
  .result{
    width: 100%;
    height:0 auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .result h2{
    font-size:1rem;
    
  }
  .result button{
    margin-left: -5px;
  }
}